header {
  text-align: center;
}

.weather-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.weather-cards__card ul{
  text-align: left;
}

.weather-cards__card {
  text-align: center;
  color: white;
  position: relative;
}

.weather-cards__card i{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
}

.weather-cards__card--clouds {
  background: gray;
}

.weather-cards__card--clear {
  background: lightblue;
  color: #333;
}

.weather-cards__card--clear i{
  color: yellow;
}

.weather-cards__card--rain {
  background: darkblue;
}

.weather-cards__card--snow {
  background: lightgoldenrodyellow;
  color: #000;
}

.weather-cards__card--snow i{
  color: #000;
}

.weather-cards__card--clear i.night::before {
  content: "\F186";
}

.weather-cards__card--clear i.night {
  color: #fff;
}

.search-form {
  text-align: center;
  margin-bottom: 2rem;
}

.search-form input[type="text"],
.search-form button {
  font-size: 1.5rem;
}

.search-form input[type="text"]{
  padding: .5rem;
}

.search-form button {
  padding: .6rem;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
  font-weight: bold;
}