header {
  text-align: center;
}

.weather-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.weather-cards .card {
  text-align: center;
  color: white;
}

.weather-cards .card.clouds {
  background: gray;
}

.weather-cards .card.clear {
  background: lightblue;
  color: #333;
}

.weather-cards .card.rain {
  background: darkblue;
}

.weather-cards .card.snow {
  background: lightgoldenrodyellow;
  color: #333;
}

.location-form {
  text-align: center;
  margin-bottom: 2rem;
}

.location-form input[type="text"],
.location-form button {
  font-size: 1.5rem;
}

.location-form input[type="text"]{
  padding: .5rem;
}

.location-form button {
  padding: .6rem;
}

.location-form button {
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
}

.error {
  color: red;
  font-weight: bold;
}