header {
  text-align: center;
}

.weather-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.weather-cards .card {
  text-align: center;
  color: white;
}

.weather-cards .card.clouds {
  background: gray;
}

.weather-cards .card.clear {
  background: lightblue;
}

.weather-cards .card.rain {
  background: darkblue;
}